/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* Global styles.css or styles.scss */
/* styles.css or styles.scss */
.success-snackbar {
    background: #4caf50 !important; /* Full green background for success */
    color: white !important;       /* Text color */
    font-size: 16px;
    font-weight: bold;
  }
  
  .error-snackbar {
    background: #f44336 !important; /* Full red background for errors */
    color: white !important;        /* Text color */
    font-size: 16px;
    font-weight: bold;
  }
  